@font-face {
    font-family: title;
    src: url(/fonts/ReklameScript-Regular_DEMO.otf)
}

@font-face {
    font-family: sub-title;
    src: url(/fonts/Market_Deco.ttf)
}

@font-face {
    font-family: regular;
    src: url(/fonts/MiloOT.otf)
}

@font-face {
    font-family: lemon;
    src: url(/fonts/LemonJellyPersonalUse-dEqR.ttf)
}

@font-face {
    font-family: order;
    src: url(/fonts/Marons-Regular.otf)
}

@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{ color: #fff;  }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}

.bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -2;
    height: 100%;
    width: 100%;
    position: fixed;
}

p {
    font-family: regular;
    font-size: 1.25rem;
    color: black
}

.no-box{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.grain {
    background-image: url(/img/grain.png);
}

.black {
    background-color: #262626
}

.blue {
    background-color: #005AB1;
}

.cyan {
    background-color: #88A5A5
}

.red {
    background-color: #EE1D23;
}

.cream {
    background-color: bisque;
}

.yellow {
    background-color: #EFE7B7;
}

.purple {
    background-color: #9F248E
}

.white {
    background-color: #e6e6e6
}

.dashed-line {
    border-top: 1px dashed rgba(0, 0, 0, 0.25);
    border-bottom: 1px dashed rgba(255, 255, 255, 0.25);
    bottom: 10px;
    z-index: 10;
    width: 100%;
    height: 0;
    margin: 0px
}

.spacer {
    margin: 0px;
    height: 16px;
    border: none;
}

.paper {
    background-image: url(img/torn-paper-noise.png);
    background-repeat: round;
    height: fit-content;
    padding: 70px;
    filter: drop-shadow(0 0 20px #000);
}

.section-title, .section-title-reversed {
    font-family: title;
    color: bisque;
    font-size: 70px;
    text-shadow: 5px 5px black;
}

.section-title-reversed {
    color: black;
    text-shadow: 1px 2px bisque, 3px 4px black
}

#parallelogram {
    padding-top: 4px;
    border-bottom: 80px solid #CC0000;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    width: 65%;
    margin: auto;
    filter: drop-shadow(0 0 20px #222);
}

#rectangle {
    width: 70%;
    margin: auto;
    height: 45px;
    background-color: #1368DC;
    border-radius: 0.5rem;
    filter: drop-shadow(0 0 20px #222);
}

.tagline {
    font-size: 30px;
    font-family: sub-title;
    color: white
}

.sub-title{
    font-family: sub-title;
}

.active {
    color: #005AB1 !important
}

.bottom-icon{
    font-size: 3rem;
    padding: 15px;
    color:black
}
