#logo {
    background-repeat: no-repeat;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    margin-top: 200px;
    margin-left: 30px;
}

#sign{
    margin-top: 0px
}

.stick {
    width: 100%;
    background-repeat: no-repeat;
    margin-bottom: -250px;
    z-index: 5;
}

.sign-container{
    margin-bottom: -697px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.rectangle {
    width: 100%;
    height: 10px;
    background-color: #EE1D23;
}

.nav-item, .nav-link, .navbar-light, .map {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 2rem;
    font-family: sub-title;
    color: #EE1D23 !important
}

.nav-item:hover, .nav-link:hover {
    color: black !important
}

.location{
    font-size: 1.5rem;
}

.directions, .directions:hover{
    color: #EE1D23
}

.info{
    font-size: 1rem
}

#location{
    font-size: 1.5rem;
    font-family: sub-title;
    color: white;
    text-shadow: 1px 0px black, -1px 0px black, 0px 1px black, 0px -1px black;
}
#dates{
    font-family: title;
    font-size: 3rem;
    color: #EE1D23;
    text-shadow: 1px 1px black, 2px 2px black;
}
#time{
    font-family: fantasy;
    font-size: 1.5rem;
    color: white;
    text-shadow: 1px 0px black, -1px 0px black, 0px 1px black, 0px -1px black;
}

.title {
    font-family: title;
    font-size: 225px;
    color: white;
    text-shadow: 2px 3px black, 4px 5px black
}

.hook {
    color: white;
    font-size: 30px;
    font-family: sub-title;
    text-shadow: 1px 1px black, 2px 2px black;
}

.carousel-item {
    /* height: 55vh; */
    overflow: hidden;
    background-position: center;
}

.img-small {
    height: 150px;
    margin: 0px 10px
}

#order-now {
    height: fit-content;
    margin: auto 10px;
    background-color: #EE1D23;
    border-color: #EE1D23;
    font-family: title;
    font-size: 3rem;
    color: white;
    text-shadow: 1px 1px black, 2px 2px black
}

#order-now:hover {
    height: fit-content;
    margin: auto 10px;
    background-color: #cc0000;
    border-color: #cc0000;
}

.map-container-2 {
    overflow: hidden;
    position: relative;
    height: 0;
}

.map-container-2 iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: relative;
}

hr.new5 {
  border: 1px solid black;
  border-radius: 5px;
}
