@font-face {
    font-family: retro;
    src: url(/topnotch/fonts/Habibie.ttf)
}

@font-face {
    font-family: block;
    src: url(/topnotch/fonts/bazarmedium.woff)
}

@font-face {
    font-family: ret;
    src: url(/topnotch/fonts/KoolBeans-eerm.ttf)
}

.paper{
    background-image: url(/topnotch/img/torn-paper-noise.png);
    background-repeat: round;
    height: 90vh;
    margin: 0px 200px;
}

.grain {
    background-image: url(/topnotch/img/grain.png);
}

.title {
    font-size: 150px;
    color: black;
    text-shadow: 2px 3px black, 4px 5px black
}

.sub-title {
    font-size: 100px;
    color: black;
    text-shadow: 2px 3px black, 4px 5px black
}

#landing {
    background-image: url(/topnotch/img/background-vivid.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
}

#parallelogram {
    padding-top:4px;
    border-bottom: 80px solid #CC0000;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    width: 60%;
    margin: auto;
    filter: drop-shadow(0 0 20px #222);
}

#rectangle {
    width: 65%;
    margin: auto;
    height: 45px;
    background-color: #CC0000;
    border-radius: 0.5rem;
    filter: drop-shadow(0 0 20px #222);
}

.tagline{
    font-size: 30px;
    font-family: block;
    color:white
}

#logo {
    filter: drop-shadow(0 0 20px #222);
}

.black {
    background-color: #262626
}

.blue {
    background-color: #005AB1;
}

.cyan {
    background-color: #78bbbb
}

.red {
    background-color: #CC0000
}

.cream {
    background-color: bisque;
}

.yellow {
    background-color: #FF9414;
}

.purple {
    background-color: #9F248E
}

.section-title, .section-title-reversed {
    font-family: retro;
    color: bisque;
    font-size: 70px;
    text-shadow: 5px 5px black;
}

.section-title-reversed {
    color: black;
    text-shadow: 1px 2px bisque, 3px 4px black
}

.dashed-line {
    border-top: 1px dashed rgba(0, 0, 0, 0.25);
    border-bottom: 1px dashed rgba(255, 255, 255, 0.25);
    bottom: 10px;
    z-index: 10;
    width: 100%;
    height: 0;
    margin: 0px
}

.spacer {
    margin: 0px;
    height: 16px;
    border: none;
}

.section {
    /* border-top: 1px rgba(0, 0, 0, 0.3) solid; */
}

.nav-item, .nav-link {
    font-family: retro;
    color: bisque !important;
    font-size: 45px;
}

.carousel {
    background-image: url(/topnotch/img/grain.png);
    background-color: #262626;
    padding: 20px;
    border-radius: 0.5rem;
}

.carousel-item {
    height: 300px;
    overflow: hidden;
    width: 100%;
}

.carousel-item img {
    width: 100%;
}

.banner {
    font-family: retro;
    font-size: 30px;
    position: relative;
    display: block;
    margin: 0px;
    padding: 10px 20px;
    height: 60px;
    /* border: 1px solid black; */
    text-align: center;
    color: bisque;
    background: #CC0000;
    border-radius: 4px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .15) inset, 0 6px 10px rgba(0, 0, 0, .15);
}

.banner-span {
    border-top: dashed 1px rgba(0, 0, 0, 0.35);
    border-bottom: dashed 1px rgba(0, 0, 0, 0.35);
    padding-top: 8px;
    padding-bottom: 10px;
    width: 100%;
}

.banner::before,
.banner::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: -50px;
    top: 24px;
    display: block;
    width: 70px;
    height: 0px;
    border: 30px solid #CC0000;
    border-right: 20px solid darkred;
    border-bottom-color: #CC0000;
    border-left-color: transparent;
    transform: rotate(-5deg);
}

.banner::after {
    left: auto;
    right: -50px;
    border-left: 20px solid darkred;
    border-right: 30px solid transparent;
    transform: rotate(5deg);
}

.map-container-2 {
    overflow: hidden;
    position: relative;
    height: 0;
}

.map-container-2 iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: relative;
}
